<section id="cv">
    <div class="container">
    <div class="col-lg-8  col-md-24 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>CV</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <mat-icon>school</mat-icon><h4>Education</h4>
                <ul>
                    <li>
                        <strong>2019-2022 <br> CEGEP: </strong>Champlain College Saint-Lambert: Computer Science Technology
                    </li>
                    <br>
                    <li>
                        <strong>2014-2019 <br> High School: </strong>Lucille-Teasdale International School
                    </li>
               
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <mat-icon>description</mat-icon><h4>Skills</h4>
                <ul>
                    <li>
                        <strong>Languages</strong>
                        <ol>
                            <li>
                                French
                            </li>
                            <li>
                                English
                            </li>
                            <li>
                                Mandarin
                            </li>
                            <li>
                                Cantonese
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Coding Languages</strong>
                        <ol>
                            <li>
                                Java
                            </li>
                            <li>
                                C#
                            </li>
                            <li>
                                Python
                            </li>
                            <li>
                                C++
                            </li>
                            <li>
                                HTML5/CSS/Bootstrap
                            </li>
                            <li>
                                SQL
                            </li>
                            <li>
                                JavaScript
                            </li>
                            <li>
                                TypeScript
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Other</strong>
                        <ol>
                            <li>
                                GitHub
                            </li>
                            <li>
                                Jira
                            </li>
                            <li>
                                SCRUM
                            </li>
                            <li>
                                Microsoft Azure
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <mat-icon>work</mat-icon><h4>Past Experience</h4>
                <ul>
                    <li>
                        <strong>March 2022 - May 2022<br> P4Labs: </strong>Software Developer Intern
                    </li>
                    <!-- <br>
                    <li>
                        <strong>Sept 2020 - Aug 2021 <br> Wonda Cabinet Inc: </strong>Cabinet Designer
                    </li>
                    <br>
                    <li>
                        <strong>June-  Aug 2020 <br> Cadets Canada: </strong>Boat/Seamanship Instructor
                    </li> -->
               
                </ul>
            </div>
        </div>

    </div>
</div>
</section> 