<header>
    <nav class="">
        <mat-toolbar fxLayout = "row" style="background-color: rgb(46, 46, 46); position: fixed; top:0%; z-index: 9999;">
            <span class="header-button">
                E-Portoflio
                </span>
                <div>
                    <span class="example-spacer"></span>
                   <a href="#home"><button mat-button class="header-button" >HOME</button></a> 
                   <a href="#about"> <button mat-button class="header-button">ABOUT ME</button></a>
                   <a href="#projects"><button mat-button class="header-button">PROJECTS</button></a>
                   <a href="#cv"><button mat-button class="header-button">CV</button> </a>
                </div>
                
        </mat-toolbar>
    </nav>
</header>