<section id="about">
    <br>
    <br>
    <div class="container">
        <h2><strong>About me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/image/me.png" alt="photo de profil" class="img-fluid">
                </picture>
               <!-- <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/zinedine-benkhider/" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/zinedineBenkhider" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div> -->
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Full Stack Developer</h3>
                <p class="font-italic">
                    I am a passionate developer that is eager to learn new technologies and improve the environment in which we live with my knowledge.
                    <br>Passionate in <b>Back-End</b> and <b>Front-End</b> development.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <mat-icon>location_on</mat-icon><strong> Montreal, Canada</strong>
                            </li>
                            <li>
                                <mat-icon>mail_outline</mat-icon><strong><a href="mailto:lawrencekaiwei@gmail.com">
                                        lawrencekaiwei@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <mat-icon>school</mat-icon><strong>Future DEC in Computer Science</strong>
                            </li>
                            <li>
                                <mat-icon>group_add</mat-icon><a href="https://www.linkedin.com/in/lawrence-liang-b19a3b199/"><strong>LinkedIn</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for a job that suits my core values.
                </p>
            </div>
        </div>
    </div>
</section>