<!-- <form action="mailto:contact@yourdomain.com"


method="POST"


enctype="multipart/form-data"


name="EmailForm">


Name:<br>


<input type="text" size="19" name="ContactName"><br><br>


Message:<br> <textarea name="ContactCommentt" rows="6″ cols="20″>


</textarea><br><br> <input type="submit" value="Submit"> </form> -->
<div class="container">
    <div class="col-lg-8  col-md-24 pt-4 pt-lg-0" data-aos="fade-left">
        <h2>Do not hesitate to contact me if you have any inquiries!</h2>
        <a href="https://www.linkedin.com/in/lawrence-liang-b19a3b199/"><img src="assets/image/linkedin.png" alt="Avatar" width="200" ></a>&nbsp;
        <a href="https://github.com/LawrenceLiang02"><img src="assets/image/github.png" alt="Avatar" width="200" ></a>&nbsp;
        <a href="https://www.instagram.com/liaangtzai/"><img src="assets/image/instagram.png" alt="Avatar" width="200" ></a>
    </div>
</div>
<br><br>
